<td>
  {{torrent.name}}
  <span>{{torrent.directory}}</span>
</td>
<td>{{torrent.up_rate}} KB/s</td>
<td>{{torrent.megabytes_uploaded}} MiB</td>
<td>{{torrent.ratio}}</td>
<td>{{torrent.down_rate}} KB/s</td>
<td>{{torrent.size_in_megabytes}} MiB</td>
<td>{{torrent.megabytes_done}} MiB</td>
<td>{{torrent.percentage_complete}}%</td>
